<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.mapper.OrderdinnerfoodMapper">
  <resultMap id="BaseResultMap" type="com.itmuch.pojo.Orderdinnerfood">
    <id column="foodId" jdbcType="VARCHAR" property="foodid" />
    <result column="businessId" jdbcType="VARCHAR" property="businessid" />
    <result column="foodName" jdbcType="VARCHAR" property="foodname" />
    <result column="foodPrice" jdbcType="DECIMAL" property="foodprice" />
    <result column="cTime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="cUser" jdbcType="VARCHAR" property="cuser" />
    <result column="uTime" jdbcType="TIMESTAMP" property="utime" />
    <result column="uUser" jdbcType="VARCHAR" property="uuser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    foodId, businessId, foodName, foodPrice, cTime, cUser, uTime, uUser
  </sql>
  <select id="selectByExample" parameterType="com.itmuch.pojo.OrderdinnerfoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderdinnerfood
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdinnerfood
    where foodId = #{foodid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orderdinnerfood
    where foodId = #{foodid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itmuch.pojo.OrderdinnerfoodExample">
    delete from orderdinnerfood
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itmuch.pojo.Orderdinnerfood">
    insert into orderdinnerfood (foodId, businessId, foodName, 
      foodPrice, cTime, cUser, 
      uTime, uUser)
    values (#{foodid,jdbcType=VARCHAR}, #{businessid,jdbcType=VARCHAR}, #{foodname,jdbcType=VARCHAR}, 
      #{foodprice,jdbcType=DECIMAL}, #{ctime,jdbcType=TIMESTAMP}, #{cuser,jdbcType=VARCHAR}, 
      #{utime,jdbcType=TIMESTAMP}, #{uuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itmuch.pojo.Orderdinnerfood">
    insert into orderdinnerfood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodid != null">
        foodId,
      </if>
      <if test="businessid != null">
        businessId,
      </if>
      <if test="foodname != null">
        foodName,
      </if>
      <if test="foodprice != null">
        foodPrice,
      </if>
      <if test="ctime != null">
        cTime,
      </if>
      <if test="cuser != null">
        cUser,
      </if>
      <if test="utime != null">
        uTime,
      </if>
      <if test="uuser != null">
        uUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodid != null">
        #{foodid,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null">
        #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="foodname != null">
        #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="foodprice != null">
        #{foodprice,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuser != null">
        #{uuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itmuch.pojo.OrderdinnerfoodExample" resultType="java.lang.Long">
    select count(*) from orderdinnerfood
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderdinnerfood
    <set>
      <if test="record.foodid != null">
        foodId = #{record.foodid,jdbcType=VARCHAR},
      </if>
      <if test="record.businessid != null">
        businessId = #{record.businessid,jdbcType=VARCHAR},
      </if>
      <if test="record.foodname != null">
        foodName = #{record.foodname,jdbcType=VARCHAR},
      </if>
      <if test="record.foodprice != null">
        foodPrice = #{record.foodprice,jdbcType=DECIMAL},
      </if>
      <if test="record.ctime != null">
        cTime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cuser != null">
        cUser = #{record.cuser,jdbcType=VARCHAR},
      </if>
      <if test="record.utime != null">
        uTime = #{record.utime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uuser != null">
        uUser = #{record.uuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderdinnerfood
    set foodId = #{record.foodid,jdbcType=VARCHAR},
      businessId = #{record.businessid,jdbcType=VARCHAR},
      foodName = #{record.foodname,jdbcType=VARCHAR},
      foodPrice = #{record.foodprice,jdbcType=DECIMAL},
      cTime = #{record.ctime,jdbcType=TIMESTAMP},
      cUser = #{record.cuser,jdbcType=VARCHAR},
      uTime = #{record.utime,jdbcType=TIMESTAMP},
      uUser = #{record.uuser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itmuch.pojo.Orderdinnerfood">
    update orderdinnerfood
    <set>
      <if test="businessid != null">
        businessId = #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="foodname != null">
        foodName = #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="foodprice != null">
        foodPrice = #{foodprice,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null">
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        cUser = #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        uTime = #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuser != null">
        uUser = #{uuser,jdbcType=VARCHAR},
      </if>
    </set>
    where foodId = #{foodid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itmuch.pojo.Orderdinnerfood">
    update orderdinnerfood
    set businessId = #{businessid,jdbcType=VARCHAR},
      foodName = #{foodname,jdbcType=VARCHAR},
      foodPrice = #{foodprice,jdbcType=DECIMAL},
      cTime = #{ctime,jdbcType=TIMESTAMP},
      cUser = #{cuser,jdbcType=VARCHAR},
      uTime = #{utime,jdbcType=TIMESTAMP},
      uUser = #{uuser,jdbcType=VARCHAR}
    where foodId = #{foodid,jdbcType=VARCHAR}
  </update>
</mapper>